* {
   padding: 0;
   margin: 0;
   font-family: Arial, Helvetica, sans-serif;
}

.header{
   background-color: black;
   padding: 15px 40px;
   display: flex;
   justify-content: space-between;
}
.logo p{
   color: aliceblue;
   font-size: 30px;
   font-weight: 700;

}
.nav ul{
   display: flex;
}
.nav ul li{
   color: aliceblue;
  list-style: none;
  padding: 10px ;
  
}
.btn{
   height: 40px;
   width: 200px;
   background-color: aliceblue;
   border: 2px solid goldenrod;
   color: goldenrod;
   font-weight: 400;
}
.hero{
   background-color: aquamarine;
   padding: 200px 40px;
   text-align: center;
}
.hero .col h1{
   /* text-transform: uppercase; */
}

.hero .col p {
   margin: 20px 0px;
}

.media{
   padding: 100px 40px;
   background-color: brown;
   display: flex;
}
.img{
background-color: aliceblue;
height: 300px;
width: 50%;
}

.text{

   padding: 30px;
}
.text h2{
   color: white;
   font-weight: 800;
}
.text p{
   color: aliceblue;
}

.pod{
   padding: 100px 40px;
   background-color: rgb(165, 157, 157);
   display: flex;  
}
.p1{
   height: 300px;
   width: 50%;
   background-color: aqua;
}

.p2{
   height: 300px;
   width: 50%;
   background-color: rgb(179, 255, 0);
   margin: 0px 15px;
}

.p3{
   height: 300px;
   width: 50%;
   background-color: rgb(255, 0, 106);
}

.cta{
   padding: 100px 40px;
   background-color: rgb(81, 34, 211);
   text-align: center;  
}

.ctc p{
font-size:30px ;
color: aliceblue;
font-weight: 600;
padding: 20px;
}
.footer{
   padding: 100px 40px;
   background-color: rgb(17, 4, 4);
   display: flex;  
   justify-content: space-between;
   text-align: center;
}
 

.footer h4{
color: aliceblue;
font-size: 20px;
font-weight: 800;
padding: 15px;
}
.footer p{
   color: aliceblue;
}